    @{
        ViewData["Title"] = "Welcome";
    }

    <!-- Welcome Page -->
        <div class="welcome-page" style="margin-top: -100px;">
            <header style="background-color: white;">
                <h1>Welcome to FleaMarket</h1>
                <p>Discover unique, vintage treasures right at your fingertips.</p>
            </header>
            <button onclick="window.location.href='/marketplace'">Explore Items</button>
            <button onclick="window.location.href='/create'">Sell Your Item</button>
        </div>